# Test files
node_modules
npm-debug.log

# Jekyll
_site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
alembic-jekyll-theme-*.gem
Gemfile.lock
**/Gemfile.lock

# Temporary files
tmp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
