url: https://almiswakuae.com
baseurl: ''
exclude: ['README.md']
permalink: pretty
title: 'AlMiswak General Trading'

collections:
  services:
    output: true
    permalink: /projects/:path/
  team:
    output: true
    permalink: /team/:path/


defaults:
  - scope:
      type: services
    values:
      layout: service
      bodyClass: page-services-single
  - scope:
      path: 'images'
    values:
      image: true

sass:
  style: compact # possible values: nested expanded compact compressed

google_analytics_id: UA-153508567-1

plugins:
  - jekyll-environment-variables
