---
title: About Us
layout: default
---

<div class="intro intro-small">
  <div class="container pb-4">
    <div class="row">
      <div class="col">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
          <p>
            Al Miswak General Trading LLC was established in Dubai, United Arab Emirates in 2014.
            We grow in the market and build a name as professional solutions provider.
            We create good client base in different sectors especially in the oil and gas industry.
          </p>
      </div>
      <div class="col-md-4 offset-md-2">
        <img src="/assets/images/logo-full.svg" class="p-2 img-fluid" alt="Logo image" style="width: 100%">
      </div>
   </div>

   <div class="row pt-2">
      <div class="col-12">
        <p>
          We also become one of the reliable Local & International Trading companies as exporter and importer dealing with different commodities
          in large volumes and build great trust relationship with all of our valuable clients. Our client base includes CNPC, CPECC,CNOOC, COSL, SINOPEC, KOC & JO in Kuwait,
          and others in Middle East and other regions.
        </p>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12">
        <h2>Company Vision</h2>
        <p>
          To achieve the highest level of recognition as “professional solutions provider” all over the Middle East Oil & Gas market.
        </p>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12">
        <h2>Company Mission</h2>
        <p>
          To provide quality products & professional services to our clients through years of experiences gained in engineering field and regional market. We are working hard to become your trusted material and services supplier. 
        </p>
      </div>
    </div>
</div>

<!-- Team -->
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Meet Founder</h1>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>