<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Télefono: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    <br>

    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    <br>

    {% if site.data.contact.calendly %}
    <div class="call-email"><strong>Agendar una cita: </strong>
      <a href="{{ .site.data.contact.calendly }}">
        calendly
      </a>
    </div>
    {% endif %}
    <br>

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contacto</a>
      </div>
    {% endif %}
</div>
