<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>San Gwann, Malta</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+356 79416569</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:username@domain.com">danielmicallef94@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://danielmicallef.xyz">https://danielmicallef.xyz</a></li>
  </ul>
</div>
