<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.layout == "home" %}
    {{ site.title }}
    {% else %}
    {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/open-color.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.min.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  {% seo title=false %}
</head>
