<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">About Us</a></li>
    <li><a href="{{site.baseurl}}/products/" class="{% if page.url contains 'products' %}current{% endif %}">Products</a></li>
    <li><a href="{{site.baseurl}}/projects/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Projects</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>