pre,code {
  font-family: var(--type-mono);
}

.highlight {
  padding: 0 1em;
  border-radius: 0.25em;
  color: var(--color-chunk);

  pre {
    padding: 0;
    margin: 0;
  }

  .highlight {
    padding: 0;
  }
}
