@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular-subset.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic-subset.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold-subset.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic-subset.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
