h1,h2,h3 {
  color: var(--color-heading);

  a {
    color: inherit;

    &:focus,
    &:hover {
      border-color: inherit;
      color: inherit;
    }
  }
}

h1 {
  font-size: 1.5em;

  &.page-title {
    margin: 0;
  }
}

#home h1 {
  margin-top: 1.5em;
}

h2 {
  margin-top: 1.25em;
  font-size: 1.25em;
}

h3 {
  margin-top: 1em;
  font-size: 1em;
  text-transform: lowercase;
  font-family: var(--type-caps);
  font-weight: 500;
}

h2 + h3 {
  margin-top: 0;
}
