.page-contact {
  background-image: url('../images/oil-rig-engineer-opt.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 50% 30px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 50% 50px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% 100px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% 50px;
  }

  ul{ list-style-type: none;}
  li strong {
    color: $secondary;
  }
}
