<div class="col">
  <div class="container-fluid">
    <div class="row">
      <div id="homeid" class="col">
        <div id="myCarousel" class="carousel slide">
          <!-- 轮播（Carousel）指标 -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <!-- 轮播（Carousel）项目 -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/images/index/slide0.png" alt="First slide" />
              <div class="carousel-caption"><h4></h4></div>
            </div>
            <div class="item">
              <img
                src="/images/index/Lab2019-1920-1080.png"
                alt="Second slide"
              />
              <div class="carousel-caption"><h4>2020年新年聚餐</h4></div>
            </div>
            <div class="item">
              <img
                src="/images/index/ROBIO2018-1920-1080.png"
                alt="Third slide"
              />
              <div class="carousel-caption">
                <h4>2018年焦晨航师兄获ROBIO最佳论文奖</h4>
              </div>
            </div>
            <div class="item">
              <img src="/images/index/2019ROBIO.png" alt="Forth slide" />
              <div class="carousel-caption"><h4>2019ROBIO于苍山</h4></div>
            </div>
          </div>
          <!-- 轮播（Carousel）导航 -->
          <a
            class="left carousel-control"
            href="#myCarousel"
            role="button"
            data-slide="prev"
          >
            <span
              class="glyphicon glyphicon-chevron-left"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="right carousel-control"
            href="#myCarousel"
            role="button"
            data-slide="next"
          >
            <span
              class="glyphicon glyphicon-chevron-right"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <p></p>

        <p>
          哈尔滨工业大学（深圳）机器人视觉与自动化实验室于2015年6月成立。我们<a
            href="/people"
            >团队</a
          >由一群有趣的人组成，我们的研究兴趣有柔软体操作，建筑机器人和机器人抓取，想了解更多研究细节可以点击<a
            href="/research"
            >这儿</a
          >。
        </p>

        <p>
          <strong>我们欢迎感兴趣的本科生、硕士生和博士生加入我们团队</strong>
          <a href="/contact/#open-positions">(more info)</a>
          <strong>!</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- 1 COL-->
</div>
