.nav-bar{
			position: relative;  
			//align-items: center;
			display: inline-block;
			width: 195px;
			margin-bottom:0px;
  a {
	display:block;
	margin:0 10px;
	padding:9px 70px 9px 10px;
	border-bottom: 1px solid #f9f9f9;
	border-top: 1px solid #f9f9f9;
	padding-top: 5px;
	padding-bottom:5px;
	margin-top: 5px;
	margin-bottom:5px;
	color: $primary;
	text-decoration: none;
 }  
 a: hover{color:yellow;}
 tb{text-align:center;}
 
 .img-tip{
	//position: absolute;  
	bottom: 0;  
	//background: #333;  
	color: #ffffff;  
	//opacity: 0.6;  
	//display: none;
	text-align: center;
	width: 100%;  
	font-size: 28px;
	position: relative;
	//top:50%;
	transform:translateY(-170%);
	
 }

}
 .img-group:hover .img-tip {  
				display: block;  
				width: 100%;  
				text-align: center;
}