<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if page.title == "Home" %}{% include particles-home.html %}{% endif %}
  {% if page.title == "404" %}{% include particles-404.html %}{% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6">
        {{ content }}
      </div>
    </div>
  </div>
  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  {% if page.title != "404" %}
  <script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>
  {% endif %}
  {% if page.title == "Home" or page.title == "404" %}
  <script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>
