---
layout: default
---
<script src="https://code.jquery.com/jquery-1.8.2.min.js" integrity="sha256-9VTS8JJyxvcUR+v+RTLTsd0ZWbzmafmlzMmeZO9RFyk=" crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container pb-6 pt-6 pt-md-10 pb-md-10" >
    <div class="row justify-content-start" >
		<div class="col-3">
			<div class="row" style="height:140px">
				
				<div class="nav-bar-teach" >
				
				<img
                style="height: auto"
                width="67px"
                alt="{{ site.title }}"
                src="{{ site.baseurl }}{{ site.logo.pubBg }}"
				/>
				<div class="img-tip">{{page.title}}</div>
				</div>
				
			</div>
			<div class="row">
				<div class="left-nav">
					<div class="right">
						<ul>
							
						
							<li>
								<span>空间机器人与系统</span>
								
							</li>
							<li>
								<span>Git使用教程</span>
								
							</li>
							
							<li>
								<span>ROS入门</span>
								
							</li>
							<li>
								<span>UR5的控制</span>
								
							</li>
							
						</ul>
					</div>
				</div>

			</div>
		
		
		</div>
        <div class="col-9">
            <div class="service service-single">
                <h1 class="title"></h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>



<script>
//鼠标移入区域时
$('.left-nav .right ul li').mouseenter(function(){
    $(this).css({'background':'#3F6299'});
    $(this).find('div').css({'background':'#fff'}).show();//显示div
    $('.div2').not($(this).find('div')).hide();
    $('.left-nav .right ul li').not($(this)).css({'background':'#fff'});
});
//鼠标移除区域时
$('.left-nav .right ul li').mouseleave(function(){
    $(this).find('div').hide();//隐藏div
    $(this).css({'background':'#fff'})
});
</script>
