---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
        <div class="content">{{content}}</div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign practice_areas = site.services | sort:"weight" %}
    {% for service in practice_areas %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>