---
layout: default
bodyClass: "page-programs"
---

<div class="container">
	<div class="row justify-content-start">
		<div class="col-12 mt-2">
			{{ content }}
		</div>
	</div>
</div>

<div class="container pt-2 pb-2">
	<div class="row">
		{% for program in site.programs %}
		<div class="col-12 col-md-4 mb-3">
			<div class="program program-summary">
				<div class="program-content">
					<h2 class="program-title">
						<!--<a href="{{ program.url | relative_url }}">{{ program.title }}</a>-->
						{{ program.title }}
					</h2>
					<!--{% if program.intro_image %}
					<div class="col-12">
						<img alt="{{ program.title }}" src="{{ program.intro_image }}" style="width:100%;margin-bottom:3rem;" />
					</div>
					{% endif %}-->
					<p>{{ program.content | markdownify | strip_html }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>